.App {
	width: 30%;
	margin: auto;
	font-family: "Courier New", Courier, monospace;
	/* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2); */
	text-align: center;
}

* {
  box-sizing: border-box;
}

.history {
	display: flex;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.new-transaction {
	display: flex;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

hr {
	color: rgba(0, 0, 0, 0.3);
  margin-top: 5px;
  margin-bottom: 0;
}
