.meals-summary {
	position: relative;
	top: -150px;
	background-color: #3f3f3f;
	border-radius: 15px;
	width: 60%;
	max-width: 40rem;
	display: grid;
	/* margin "auto" takies Up available apace */
	margin: auto;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	color: white;
	/* x, y, blur, spread, color */
	box-shadow: 0.3px 0.3px 4px black;
	animation: summary-intro 1s ease normal forwards;
}

@keyframes summary-intro {
	from{
		opacity: 0;
		transform: translateX(10px) translateY(10px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}

}

.meals-summary p {
	font-size: medium;
}
